{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login page</title>
    <link href= "{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- chart.js extension -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <!-- to read through the csv  -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-doughnutlabel"></script> 
    <!-- the label in the middle of the donut  -->
</head>
<style>
    
</style>
<body>
    <div class="sidebar">
    <ul>
        <br>
        <br>
        <br>
        <li><a href="{% url 'home' %}"><i class="material-icons">dashboard</i> Dashboard
        </a></li>
        <li><a href="{% url 'predicted-sales' %}"><i class="material-icons">insert_chart</i> Predictions</a></li>
            {% comment %} <li><a href="#Delivery Driver Info"><i class="material-icons">information</i> Delivery Driver Info</a></li> {% endcomment %}
            <li><a href="{% url 'performance' %}"><i class="material-icons">speed</i>Performance</a></li>
     
       {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><i class="material-icons">logout</i> Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}"><i class="material-icons">login</i> Login</a></li>
        {% endif %}
      </ul>
      <button onclick="toggleDarkMode()" class="dark-toggle">
        🌙 Toggle Dark Mode
      </button> 
    </div>
    <fieldset>
    <br>
    <br>
    <div class="container1">
      <br>
      <br>
      <h2>WELCOME BACK</h2>
      <div class="content">
      <!-- Display error message -->
      <p style="color:red;">{% if error %}{{ error }}{% endif %}</p>
      <form action="/login/" method="POST">
          {% csrf_token %}
          <div class="user">
              <div class="name">
              <div class="input-box">
              <input type="text" placeholder="Username" name="username" required style="height:40px">
              </div>
              </div>
              <br>
              <div class="input-box">
              <input type="password" placeholder="Password" name="password" required style="height:40px">
              </div>
              <br>
              <div>
                {{ form.captcha}}
              </div>
              <div class="button">
                  <input type="submit" value="Login">
              </div>
          </div>
      </form>
  </div>
  </div>
  
  </fieldset>
</body>
</html>
<script>
   window.onload = function () {
       if (localStorage.getItem('theme') === 'dark') {
         document.body.classList.add('dark-mode');
       }
     };
   
     function toggleDarkMode() {
       const isDarkMode = document.body.classList.toggle('dark-mode');
       localStorage.setItem('theme', isDarkMode ? 'dark' : 'light');
     }
  </script>