<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Performance</title>
    <link href="{% static 'css/performance.css' %}" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-doughnutlabel"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>

     <div class="sidebar">
        <ul>
            <br><br><br>
            <li><a href="{% url 'home' %}"><i class="material-icons">dashboard</i> Dashboard</a></li>
            <li><a href="{% url 'predicted-sales' %}"><i class="material-icons">insert_chart</i> Predictions</a></li>
            {% comment %} <li><a href="#Delivery Driver Info"><i class="material-icons">information</i> Delivery Driver Info</a></li> {% endcomment %}
            <li><a href="uploadcsv.html"><i class="material-icons">table_chart</i>Sales History</a></li>
            <li><a href="{% url 'performance' %}"><i class="material-icons">speed</i>Performance</a></li>
            <li><a href="{% url 'reports' %}"><i class="material-icons">report</i>Report</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><i class="material-icons">logout</i> Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}"><i class="material-icons">login</i> Login</a></li>
        {% endif %}
        </ul>
        <button onclick="toggleDarkMode()" class="dark-toggle">
            🌙 Toggle Dark Mode
          </button>    
    </div> 
    <script>
        const driverLabels = JSON.parse('{{ driver_id|safe|escapejs }}');
        const salesPerKmData = JSON.parse('{{ sales_per_km|safe|escapejs }}');
        const quarter_sales = parseFloat('{{ quarter_sales|safe|escapejs }}');
        const previous_quarter_sales = parseFloat('{{ previous_quarter_sales|safe|escapejs }}');
        const totalDeliveries = JSON.parse('{{ total_deliveries|safe|escapejs }}');
        const avgDelivTime= JSON.parse('{{ avgDelivTime|safe|escapejs }}');
    </script>
    <div class="main-content">
        <div class="card-container">
        <div class="card1">
            <span id="quarter_sales" class="quarter_sales"></span>
            {% comment %} <span id="previous_quarter_sales1" class="previous_quarter_sales1"></span> {% endcomment %}
            <span id="percent_change" class="percent_change"></span>
        </div>
        <div class="card4">
            <h2>Average delivery time of all Drivers</h2>
            <div class="inline-content">
            <span id="AverageDelivery" class="AverageDelivery"></span><p>minutes</p>
            </div>
        </div>
            <div class="card_top-driver">
                <h4>Top Driver</h4>
                <p><strong>Name:</strong> Driver 2</p>
                <p><strong>Driver ID:</strong> 102</p>
                <p><strong>Total Deliveries:</strong> 550</p>
                {% comment %} Driver_id {% endcomment %}
                {% comment %} Total deliveries {% endcomment %}
        </div>
    </div>
        <div class="chart-container">
        <div class="chart-wrapper">
            <canvas id="barchart23" width="500" height="400" ></canvas>
        </div>
        <div class="card2">
            <canvas id="scatterChart" width="500" height="400"></canvas>
        </div>
        <div class="card3">
            <span id="AverageDelivery" ></canvas>
        </div>
    </div>
    </div>
    <script src="{% static 'js/performance_graph.js' %}"></script>
    <script src="{% static 'js/quarter_sales.js' %}"></script>
    <script src="{% static 'js/bubble.js' %}"></script>
    <script src="{% static 'js/avgdeli.js' %}"></script>

</body>
</html>





