{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chart.js Doughnut Chart Example</title>
    <link href= "{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- chart.js extension -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <!-- to read through the csv  -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-doughnutlabel"></script> 
    <!-- the label in the middle of the donut  -->
</head>
<body>
    <div class="sidebar">
        <ul>
            <br>
            <br>
            <br>
            <li><a href="{% url 'home' %}"><i class="material-icons">dashboard</i> Dashboard
            </a></li>
           <li><a href="#Predictions"><i class="material-icons">insert_chart</i></i>Predictions
           </a></li>
           
          <li><a href="uploadcsv.html"><i class="material-icons">upload</i>Upload CSV</a></li>
   
           <li><a href="{% url 'reports' %}"><i class="material-icons">report</i>Report</a></li>
   
           {% if user.is_authenticated %}
           <li><a href="{% url 'logout' %}"><i class="material-icons">logout</i> Logout</a></li>
       {% else %}
           <li><a href="{% url 'login' %}"><i class="material-icons">login</i> Login</a></li>
       {% endif %}
          </ul>
        </div>

</body>
</html>